<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Layout</title>
</head>
<body>
    <div id="layout">
    <header>
        <h2>Градове</h2>
    </header>

    <section>
        <nav>
          <ul>
            <li><a href="index.html">София</a></li>
            <li><a href="plovdiv.html">Пловдив</a></li>
            <li><a href="pleven.html">Плевен</a></li>
            <li><a href="varna.html">Варна</a></li>
            <li><a href="burgas.html">Бургас</a></li>
            <li><a href="chiprovtsi.html">Чипровци</a></li>
          </ul>
        </nav>
    
        <article>
            <h1>Чипровци</h1>
            <p>Чѝпровци е град в Северозападна България, в област Монтана на 47 km северозападно от град Берковица. Градът е административен център на община Чипровци.</p>
            <p>Чипровци е известен с килимите си. Те са отразявали душата на създателките си. Основните модели са се предавали от поколение на поколение като така са достигнали и до наши дни. Тези килими, както и съществувалата някога златарска школа са пазили града през дългите години на османска власт. Чипровци е бил под опеката на султанката.</p>
        </article>
    </section>
    <section>
    <footer>
        <p>Placeholder</p>
    </footer>
    </section>
    </div>
</body>
</html>