<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Layout</title>
</head>
<body>
    <div id="layout">
    <header>
        <h2>Градове</h2>
    </header>

    <section>
        <nav>
          <ul>
            <li><a href="index.html">София</a></li>
            <li><a href="plovdiv.html">Пловдив</a></li>
            <li><a href="pleven.html">Плевен</a></li>
            <li><a href="varna.html">Варна</a></li>
            <li><a href="burgas.html">Бургас</a></li>
            <li><a href="chiprovtsi.html">Чипровци</a></li>
          </ul>
        </nav>
    
        <article>
            <h1>Плевен</h1>
            <p>Плѐвен (изписване до 1945 година: Плѣвенъ) е град в Централна Северна България. Той е административен център на едноименните община Плевен и област Плевен, както и един от важните културни, образователни, икономически и транспортни центрове в страната.</p>
            <p>Плевен и неговата околност имат корени от дълбока древност и практически непрекъснато хилядолетно развитие.</p>
        </article>
    </section>
    <section>
    <footer>
        <p>Placeholder</p>
    </footer>
    </section>
    </div>
</body>
</html>